@import 'globalSettings.module.less';

.FreqRow {
    padding-top: 2.5rem;
}

.Title {
  @media only screen and (max-width: @mobile-cutoff) {
    margin-top: 15px;
  }
  text-align: left;
}

.UserResearchWrapper  { 
  width: 75vw;
}

.UserResearchSection {
    text-align: left;
    font-size: 1.1rem;
}

.UserResearchSubsection {
  text-align: left;
    margin-bottom: 30px;
}

