@mobile-cutoff: 600px;
@mobile-font-size: 12px;



//TODO: Change this h1 to something else?
h1{
    font-size: 48px;
    font-weight:900;
    font-family: 'Martel Sans';
    align-content: center;
  }

h3{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

h5{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;

}

body{
    font-size: 20px;
    font-family: 'Roboto', regular;
    font-weight: normal;
}

.link{
    color: #2162a2;
    font-family: 'Montserrat', regular;
    font-size: 12px;
    font-weight: 400;
}

.greyText{
    color: #6c6c6c;
    font-weight: 400;
    font-family: 'Montserrat', regular;
    font-size: 18px;
}

