@import 'globalSettings.module.less';

.SocialIconsRow > * {
  padding-top: 10vh;
  padding: 1vw;
}

.HomeSocialIcons   > * {
  @media only screen and (max-width: @mobile-cutoff) {
    font-size: 15vw;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  font-size: 48px;
  padding: 0px;
}
.ActionButtonsRow > * {
  padding: 2vw;
}


.HomePageColumnContent > * {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
  }
  width: 50vw;
  padding: 1vw;
  text-align: center;
}
