//@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import 'globalSettings.module.less';

.MasterLayout {
  width: 100vw;
}

.MasterContent  {
  background-color: transparent;
  padding: 10%;
  align-items: center;
}







