@import 'globalSettings.module.less';

.SocialIconsRow > * {
  padding-top: 10vh;
  padding: 1vw;
}

.ActionButtonsRow > * {
  padding: 2vw;
}

.ActionButton {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
    height: fit-content;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
  }

  width: 10vw;
  height: 3.33vw;
  font-weight: 500;
  font-size: 1vw;
  color: #292929;
  background-color: #ffca0f;
}

.PartnersPageColumnContent  {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
    margin-top: 15px;
  }

  width: 75vw;
  padding: 1vw;
  text-align: center;
}
