@import 'globalSettings.module.less';

.Title {
    @media only screen and (max-width: @mobile-cutoff) {
      margin-top: 15px;
    }

    text-align: center;
    padding-top: 0;
}

.SubTitleContent {
    text-align: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.SocialIconsRow > * {
  padding-top: 10vh;
  padding: 1vw;
}

.ActionButtonsRow > * {
  padding: 2vw;
}


.PartnersPageColumnContent  {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
    margin-top: 15px;
  }

  width: 75vw;
  padding: 1vw;
  text-align: center;
}
