@import 'globalSettings.module.less';

.SocialIconsRow > * {
  padding-top: 10vh;
  padding: 1vw;
}

.ActionButtonsRow > * {
  padding: 2vw;
}


.PartnersPageColumnContent  {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
    margin-top: 15px;
  }

  width: 75vw;
  padding: 1vw;
  text-align: center;
}
