@import 'globalSettings.module.less';

.Title {
    text-align: center;
    padding-top: 0;
}

.SubTitleContent {
    text-align: center;
}

.SupportContainer {
    padding-bottom: 45px;
}

.FlexRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ResourceBox {
    max-width: 370px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: -15px;
}

.ResourceTitle {
    text-transform: uppercase;
    text-align: center;
}

.ResourceContent {
    font-size: 0.75em;
    text-align: center;
    color: black;
}

.LinkItem {
    text-decoration: underline;
    color: black;
}

.HereLink {
    text-decoration: underline;
}

.MoreResources {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center;
}


.ActionButtonsRow > * {
    padding: 2vw;
}

.ActionButton {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
    height: fit-content;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
  }

  width: 10vw;
  height: 3.33vw;
  font-weight: 500;
  font-size: 1vw;
  color: #292929;
  background-color: #ffca0f;
}

.SupportPageColumnContent > * {
  @media only screen and (max-width: @mobile-cutoff) {
    width: fit-content;
  }
  width: 50vw;
  padding: 1vw;
  text-align: center;
}
